{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EIA Training</title>
    <link rel="stylesheet" href="/static/css/service.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-title">Environmental Impact Assessment Training</div>
            <div class="card-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, voluptatum debitis? Debitis 
                exercitationem beatae sequi quasi consequatur saepe, reprehenderit aliquid, nihil aperiam laboriosam 
                impedit quaerat expedita? Aspernatur fugiat asperiores 
                nihil labore illum, cupiditate sequi velit voluptates molestias quas ipsum tempora?
            </div>
            <a href="#!" class="learn">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    </div>
</body>
</html>
{% endblock %}