{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EIA Training</title>
    <link rel="stylesheet" href="/static/css/service.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-title">Environmental Impact Assessment Training</div>
            <div class="card-body">
                Lorems ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, voluptatum debitis? Debitis 
                exercitationem beatae sequi quasi consequatur saepe, reprehenderit aliquid, nihil aperiam laboriosam 
                impedit quaerat expedita? Aspernatur fugiat asperiores 
                nihil labore illum, 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto culpa optio similique aliquam ea asperiores laboriosam 
                ducimus facere error. Distinctio aliquid, provident molestiae odio ut officiis consectetur recusandae laudantium blanditiis dolores corporis quos deleniti 
                ex repellendus dignissimos dicta praesentium eligendi beatae nesciunt eveniet soluta quisquam facere iste! Enim sit illo nulla beatae tempore porro blanditiis alias 
                tenetur aliquam dolores explicabo consequatur repellendus eligendi recusandae earum, ipsum expedita! Odit totam itaque quibusdam a, perspiciatis fuga commodi est praesentium sed dolores illum blanditiis! Qui repellat corrupti quo illum inventore sed accusantium 
                alias a. Reprehenderit hic molestiae esse corporis, nisi magni repellat tenetur? cupiditate sequi velit voluptates molestias quas ipsum tempora?
            </div>
            <a href="#!" class="learn">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    </div>
</body>
</html>
{% endblock %}