{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/static/css/services.css">
</head>
<body>
    <h1>Services We Offer </h1>
    <div class="card">
        <div class="card-title">Environmental Impact Assessment.</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Praesentium cum similique ducimus et perferendis nulla dolore, 
            illo aspernatur dolores fugiat voluptatibus rem accusamus qui 
            sapiente opti
            o maxime quibusdam non deleniti.
        </div>
    </div>
    <div class="card">
        <div class="card-title">Environmental Incident Management.</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Praesentium cum similique ducimus et perferendis nulla dolore, 
            illo aspernatur dolores fugiat voluptatibus rem accusamus qui 
            sapiente opti
            o maxime quibusdam non deleniti.
        </div>
    </div>
    <div class="card">
        <div class="card-title">Environmental Reporting.</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Praesentium cum similique ducimus et perferendis nulla dolore, 
            illo aspernatur dolores fugiat voluptatibus rem accusamus qui 
            sapiente opti
            o maxime quibusdam non deleniti.
        </div>
    </div>
    <div class="card">
        <div class="card-title">Environmental Impact Assessment Training.</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Praesentium cum similique ducimus et perferendis nulla dolore, 
            illo aspernatur dolores fugiat voluptatibus rem accusamus qui 
            sapiente opti
            o maxime quibusdam non deleniti.
        </div>
    </div>
    
</body>
</html>
{% endblock %}