{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
<div class="container">
<h1 class="title">About</h1>
<div class="content">
<div class="mselam">
<img src="/static/img/undraw_Freelancer_re_irh4.svg" alt="">
</div>
<div class="bio">
<h1>MEET MSELAM</h1>
<p>Lorem ipsum dolor sitses amet, consectetur 
adipisicing elit. Porro natus, itaque neque 
perferendis voluptatum qui ducimus molestias 
reiciendis consectetur, eum quia aliquid optio 
corrupti nulla necessitatibus? Sit ipsam reiciendis 
consequuntur cum neque recusandae? Odit quis
inventore, incidunt explicabo autem corporis?</p>
</div>
</div>
</div>
</body>
</html>
{% endblock %}