.container{
    height: 100%;
}
.card{
    background-color: #2ecc71 ;
    color: #fff;
    padding: 2rem;
    margin: 1.5rem;
    text-align: center;
    border-radius: 20px;
}
.card-title{
    color: #000;
    font-size: 1.5rem;
}
.card a{
    text-decoration: none;
    font-size: 1.5rem;
    border: .5px solid #000;
    padding: .6rem;
    width: 200px;
    margin: 0 auto;
    color:   #1b2631;
    border-radius: 20px;
}
.card-body{
    color: #fff;
    letter-spacing: 1px;;
}
.learn:hover{
    background-color: transparent;
    color: #000;
    transition: all .5s ease-in;
}
@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .card-title{
        color: red;
    }
    .container{
        height: 100%;
    }
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .card-title{
        color: gold;
    }
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .card-title{
        color: green;
    }
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .card-title{
        color: purple;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .card-title{
        color: orange;
    }
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    .card-title{
        color: indigo;
    }
}