.container{
    height: 70vh;
}
.card{
    background-color: #2ecc71 ;
    color: #fff;
    padding: 2rem;
    margin: 1.5rem;
    text-align: center;
    border-radius: 20px;
}
.card-title{
    color: #000;
    font-size: 1.5rem;
}
.card a{
    text-decoration: none;
    font-size: 1.5rem;
    border: .5px solid #000;
    padding: .6rem;
    width: 200px;
    margin: 0 auto;
    color:   #1b2631;
    border-radius: 20px;
}
.card-body{
    color: #fff;
    letter-spacing: 1px;;
}
.learn:hover{
    background-color: transparent;
    color: #000;
    transition: all .5s ease-in;
}
